tqdm
langchain
langchain-openai
javascript
setuptools
openai
chardet
# cchardet  # Removed - doesn't build on Python 3.13, chardet is sufficient
chromadb>=0.4.0
tiktoken
requests
gymnasium
psutil
minecraft_launcher_lib
